/* @tailwind base;
@tailwind components; */
@tailwind utilities;

:root {
  --bg-main: #0b1020;
  --bg-surface: #11172b;
  --text-primary: #ffffff;
  --text-secondary: #9ca3af;
  --accent-primary: #4da3ff;
  --accent-glow: #00e5ff;
}

html,
body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: Inter, system-ui, sans-serif;
}
